{% extends "gaia-x-document-template/mkdocs_base.yml.j2" %}
{% block site_name %}GXFSv2 - Data Exchange{% endblock %}

{% block nav %}
nav:
 - Editorial Information: README.md
 - dewg.md
{% endblock %}

